{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Contact</title>
    <link rel="stylesheet" href="{% static 'style-edit.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome\css\font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome\css\font-awesome.min.css' %}">
</head>
<body>
    <div class="container">
        <header class="hero">
            <a href="{% url 'profile' contact.id %}"><i class="fa fa-arrow-circle-left back-btn"></i></a>
            
            <div class="hero-info">
                <h1 class="name">{{ contact.full_name | title }}</h1>
                <p class="relationship">{{ contact.relationship | title }}</p>
            </div>
        </header>

        <form action="" method="POST">
            {% csrf_token %}
            <section class="contact-info">
                <div class="info-line">
                    <i class="fa fa-phone icon-gradient"></i>
                    <input type="text" class="type" name="fullname" placeholder="Full Name" value="{{ contact.full_name }}">
                </div>
    
                <div class="info-line">
                    <i class="fa fa-phone icon-gradient"></i>
                    <input type="text" class="type" name="relationship" placeholder="Relationship" value="{{ contact.relationship }}">
                </div>
    
                <div class="info-line">
                    <i class="fa fa-phone icon-gradient"></i>
                    <input type="number" class="type" name="phone-number" placeholder="Phone Number" value="{{ contact.phone_number }}">
                </div>
    
                <div class="info-line">
                    <i class="fa fa-envelope icon-gradient"></i>
                    <input type="email" class="type" name="email" placeholder="Email Address" value="{{ contact.email }}">
                </div>
    
                <div class="info-line">
                    <i class="fa fa-map-marker icon-gradient" id="location"></i>
                    <input type="text" class="type" name="address" placeholder="Address" value="{{ contact.address }}">
                </div>
            </section>
    
            <section class="button-container">
                <a href="#">
                    <div class="update-contact">
                        <i class="fa fa-check-circle icon-gradient"></i>
                        <button class="button">Save Contact</button>
                    </div>
                </a>
            </section>
        </form>

        <section class="button-container">
            <a href="{% url 'delete' contact.id %}">
                <div class="delete-contact">
                    <i class="fa fa-trash icon-gradient"></i>
                    <button class="button">Delete Contact</button>
                </div>
            </a>
        </section>
    </div>
</body>
</html>